$headerHeight: 60;

.contentBlock{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: #{$headerHeight}px;
}
.details{
    width: 50%;
    padding-right: 20px;
}
.hello h3 {
    font-family: Lobster;
    font-size: 25px;    
}
.orangeText {    
    color: #f75023!important;
}
.name{
    margin-bottom: 13px;
    h3{
        font-family: Righteous;
        font-size: 48px;
        margin: 20px 0;
        color: #444
    }
}
.job{
    margin-bottom: 23px;
    & > p {
        font-size: 32px;        
        & > span{
            font-weight: 600;
            margin-left: 10px;
        }
    }
}
.greenText{
    color: #1cbe59
}
.text{
    font-size: 18px;
    margin-bottom: 30px;
}
.button{
    display: flex;
    align-items: center;
}
.dizme_tm_button{
    width: auto;
    height: auto;
    clear: both;
    float: left;
}
.anchor{
    text-decoration: none;
    color: #fff; background-color: #f75023;
    display: inline-block;
    font-family: Audiowide;
    font-weight: 500;
    border-radius: 50px;
    border: 2px solid #f75023;
    padding: 9px 35px 8px;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
    &:hover{
        background-color: transparent;
        color: #313131
    }
}
.social{
    position: relative;
    padding-left: 25px;        

    & > ul{
        display: flex;
        align-items: center;
        & > li{
            list-style: none;
        }
    }
}
.photoBlock{
    display: block;
    position: relative;
    margin-left: auto;

    & > .image{
        width: 510px; height: 510px;    
        & > img{
            width: 100%; height: 100%; object-fit: contain;
        }
    }
}