$colorfullText: #f75023;

.contentBlock{
    display: block;    
    
    .itemBlock{
        display: block; position: relative; margin-top: 15px;
        // border-left: 1px solid #1a91c4;
        // padding: 25px 0 0 25px;

        & > span{
            position: absolute;
            left: -12px;
            top: 30px;
            background-color: #fff;
            border: 1px solid #1a91c4;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            z-index: 5;       
        }

        .labelStyle{
            font-family: Audiowide;
            font-size: 22px;        
        }

        .infoStyle{
            font-family: Macondo;
            font-size: 16px;
        }

        .img{
            display: block;
            height: 540px; 
            border: 1px solid #ddd;
            background-color: #fff; padding: 15px;
            overflow: hidden;

            & > img{
                width: 100%; height: auto;                
            }
        }

        a:hover{
            color: $colorfullText;

            .infoStyle{
                color: #006699
            }
        }
    }
}