@import url('https://fonts.googleapis.com/css?family=Macondo|Mogra|Ubuntu|Oxygen|Lobster|Righteous|Audiowide|Charm|Blinker');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Symbols+Outlined');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

$headerHeight: 60;
$colorfullText: #f75023;

body{
    display: block;
    margin: 0 auto;
    font-family: Macondo,Mogra,Audiowide
}

a{
    text-decoration: none; color: #333
}

.container {
    margin: 0 auto;
    max-width: 1100px;    
}

.header{
    position: fixed;
    top: 0; left: 0;
    background-color: #fff;
    width: 100%; z-index: 1000;
    border-bottom: 1px solid #ddd;

    .headerHeight{
        height: #{$headerHeight}px;
    }
}

.sectionLableBlock{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;

    & > h1{
        font-family: Righteous;
        font-size: 125px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        color: #fff;
        -webkit-text-stroke: 1px #eee;
    }

    & > h4{
        position: absolute;
        color: $colorfullText; font-family: Audiowide; font-size: 32px;
        margin: 0;
        text-transform: uppercase;
    }
}
.layerPadding{
    padding-top: 60px
}
.introdueLayerBg{    
    background-image: linear-gradient(to top, #cee0c9, #e4efe0);
}
.aboutLayerBg{
    // @extend .layerPadding;
    padding-bottom: 60px;
    background-color: #fff;
}
.skillLayerBg{
    // @extend .layerPadding;
    padding-bottom: 60px;
    background-color: #f7f7f7;
}
.qualityLayerBg{
    // @extend .layerPadding;
    padding-bottom: 60px;
    background-color: #fff;
}
.serviceLayerBg{
    // @extend .layerPadding;
    padding-bottom: 60px;
    background-color: #f7f7f7;
}
.portfolioLayerBg{
    // @extend .layerPadding;
    padding-bottom: 60px;
    background-color: #fff;
}
.contactLayerBg{
    padding-bottom: 60px;
    background-color: #f7f7f7;
}

.footer{
    background-color: rgb(51, 51, 51);
    color: #fff; padding: 25px 0;    
}

.back-to-top{
    font-size: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #f7502360;
    color: #fff;
    transition: all 0.4s;

    &:hover{
        background-color: $colorfullText;
    }
}